.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.filters_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}
.flex_item {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (min-width:$tabletSize) {
    .filters_wrapper {
        gap: 30px;
    }
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        input {
            font-size: 1rem;
        }
    }
}