.top_part_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.settings_role_grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    row-gap: 20px;
    
    * {
        width: 70px;
    }
}
@media (min-width:$tabletSize) {
    .settings_role_grid {
        display: flex;
        align-items: center;
        column-gap: 0px;
        row-gap: 0px;
        gap: 20px;
        * {
            width: auto;
        }
    }
    .top_part_wrapper {
        flex-direction: row;
    }
}