.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.right_wrapper {
    background-color: $white;
    padding: 17px 13px;
    border-radius: 20px;
}
@media (min-width:$tabletSize) {
    .right_wrapper {
        padding: 15px 20px;
    }
    .wrapper {
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
    }

    .left {
        max-width: 630px;
    }
    .right {
        max-width: 490px;
    }
}