.top_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.bottom_part {
    padding: 15px 30px;
}

.modal_center_basic {
    background-color: white;
    border-radius: 20px;
    @include weakShadow;
}