.top_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 20px;
}

.bottom_part {
    padding: 15px 30px;
    max-height: calc(90vh - 45px);
    overflow-y: auto;
    @include scrollStyles;
    overflow-x: hidden;
}

.modal_center_basic {
    background-color: white;
    border-radius: 20px;
    @include weakShadow;
    overflow: hidden;
}