.wrapper_dots {
    width: 30px;
    height: 15px;
    border-radius: 5px;
    @include weakShadow;

    transition: 0.2s;

    display: flex;
    svg {
        margin: auto;
        width: 12px;
        height: 5px;
    }
    background-color: white;

    &:hover {
        background-color: #F5F5F5;
    }
}