
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active_status {
    position: absolute;
    top: calc(100% - 5px);
    transform: translateY(-50%);
    left: 0px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $red;
}

.active_true {
    background-color: $green;
}
.flex_wrapper {
    display: none;
}
.position_relative {
    position: relative;
}
.wrapper_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
@media (min-width: $tabletSize) {
    .flex_wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
}