.wrapper {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}


@media (min-width:$tabletSize) {
    .cards_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}