.helper {
    position: fixed;
    bottom: 120px;
    right: 10px;
    width: 400px;
    @include weakShadow;
    border-radius: 20px;
    background-color: white;
    transition: 0.2s;
    z-index: 3;
}

.bottom_part {
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
    padding: 20px 30px;
    margin-bottom: 20px;
    @include scrollStyles;
}
.helper_padding {
    padding: 20px 30px;
}

.flex_row_end {
    display: flex;
    align-items: end;
    gap: 15px;
}


@media (min-width: $tabletSize) {
    .helper {
        bottom: 170px;
    }

}