.select_box {
    width: 14px;
    height: 14px;
    border: 2px solid $text;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.select_box_active {
    position: relative;
    border: 2px solid $orange;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 50%;
        border: 1px solid $orange;
        border-radius: 50%;
    }
}