.message_item {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba($color: $text, $alpha: 0.1);
}

.message_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper_top {
    display: flex;
    align-items: end;
}